@model ElectroTransportDepo.Models.TransportsType

@{
    ViewBag.Title = "Удалить тип транспорта";
}

<h2>Вы уверены, что хотите удалить тип транспорта <b>@Html.DisplayFor(model => model.Name)</b>?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
}